<h1><%=@shelter.name %></h1>
<p>Address: <%= @shelter.address %></p>
<p>City: <%= @shelter.city %></p>
<p>State: <%= @shelter.state %></p>
<p>Zip: <%= @shelter.zip %></p>
<p>Total Pets: <%= @shelter.pet_count %></p>
<p>Average Rating: <%= @shelter.average_rating.round(1) %></p>
<p>Applications on File: <%= @shelter.application_count %></p>

<section class = "shelter_reviews">
<h2>Reviews</h2>
<% @shelter.shelter_reviews.each do |review| %>
  <article id="review-<%= review.id %>-details">
    <h3><%= review.title %></h3>
    <p><%= review.rating %></p>
    <p><%= review.content %></p>
    <%= image_tag(review.image, width: "200") %>
    <ul>
      <li><%= link_to 'Edit Review', "/reviews/#{review.id}/edit" %>
      <li><%= link_to 'Delete Review', "/reviews/#{review.id}", method: :delete %></li>
    </ul>
  </article>
<% end %>
</section>

<ul>
  <li><%= link_to "Available Pets", "/shelters/#{@shelter.id}/pets"%>
  <li><%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %>
  <li><%= link_to 'Add Review', "/shelters/#{@shelter.id}/reviews/new" %>
  <% if !@shelter.has_pending_pet? %>
    <li><%= link_to 'Delete', "/shelters/#{@shelter.id}", method: :delete %>
  <% end %>
</ul>
