<h1><%=@pet.name %></h1>
<img><%= image_tag(@pet.image, width: "350") %></img>
<h2>Name: <%= link_to "#{@pet.name}", "/pets/#{@pet.id}"%></h2>
<p>Description: <%= @pet.description %></p>
<p>Approximate Age: <%= @pet.approximate_age %></p>
<p>Sex: <%= @pet.sex %></p>
<p>Adoption Status: <%= @pet.adoption_status %></p>
<% if @pet.adoption_status == "pending" %>
  <p>Applicant: On hold for <%= @pet.approved_application.name%></p>
<% end %>
<ul>
  <li><%= link_to @favorite_link[:favorite_link_text],
                  "/favorites/#{@pet.id}",
                  method: @favorite_link[:method]
                  %></li>
  <li><%= link_to 'View Applications', "/pets/#{@pet.id}/applications" %>
  <li><%= link_to 'Update Pet', "/pets/#{@pet.id}/edit" %>
  <% if !@pet.approved_application %>
    <li><%= link_to 'Delete', "/pets/#{@pet.id}", method: :delete %>
  <% end %>
</ul>
