<!DOCTYPE html>
<html>
  <head>
    <title>Adopt Don't Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <% flash.each do |type, message| %>
    <p class="flash-message"><%= message %></p>
  <% end %>
  <body>
    <ul>
      <li><%= link_to "All Pets", "/pets"%></li>
      <li><%= link_to "All Shelters", "/shelters"%></li>
      <li><%= link_to "Favorites: #{favorite.total_count}", "/favorites"%></li>
    </ul>

    <%= yield %>

  </body>
</html>
