<!DOCTYPE html>
<html>
  <head>
    <title>Adopt Don't Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <% flash.each do |type, message| %>
    <% if type == "incomplete_form" %>
      <ul class="missing-fields"> Please fill in:
        <% message.each do |field| %>
         <li><%= field.to_s.capitalize %></li>
        <% end %>
      </ul>
    <% else %>
      <p class="flash-message"><%= message %></p>
    <% end %>
  <% end %>
  <body>
    <ul>
      <li><%= link_to "All Pets", "/pets"%></li>
      <li><%= link_to "All Shelters", "/shelters"%></li>
      <li><%= link_to "Favorites: #{favorite.total_count}", "/favorites"%></li>
    </ul>

    <%= yield %>

  </body>
</html>
